@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding-top: 20px;
}
/* nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-span {
  display: block;
  font-size: 18px;
}
.nav-right {
  display: flex;
  gap: 48px;
  font-family: "Inter", sans-serif;
}
.list {
  display: flex;
  gap: 48px;
}

.list li {
  list-style: none;
}
.list li a {
  text-decoration: none;
  color: #8987a1;
  font-size: 18px;
  transition: all 0.3s ease;
}
.list li a:hover {
  text-decoration: none;
  color: #252432;
  transform: scale(1.2);
  font-weight: 700;
}

/* shared */
.title {
  font-family: "Noto Serif", serif;
}
.paragra {
  font-family: "Inter", serif;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.orange {
  color: #e95a08;
}

.inter {
  font-family: "Inter", serif;
}

/* .banner */
.banner {
  margin-top: 120px;
  display: flex;
  gap: 0;
  align-items: flex-end;
}

.banner-title {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 13px;
}
/* plant section */
.plant-section {
  margin-top: 120px;
  margin-bottom: 120px;
}
.plant-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 13px;
}
.plant-header {
  text-align: center;
  margin-bottom: 50px;
}
.card-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  align-items: center;
  justify-content: center;
}
.card {
  text-align: center;

  background: whitesmoke;
}
.card p {
  font-size: 22px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 15px;
}
.card h5 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}
.card-button {
  color: white;
  background: #e95a08;
  border: none;
  width: 100%;
  padding: 26px 0;
  font-weight: 600;
}
/* shop section */
.shop {
  margin-bottom: 120px;
}
.shop-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-right {
  margin-left: 70px;
}
.shop-list {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  gap: 30px;
}
.shop-list li {
  font-family: "Inter", serif;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

/* deal section */
.images {
  margin-top: 100px;
  display: flex;

  gap: 20px;
}
.images1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}
.images1 .img1 {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/deal-bloom.png");
  background-repeat: no-repeat;
  border-radius: 22px;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.content1 {
  padding: 65px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content1 a {
  color: white;
  font-family: "Inter", serif;
}
.content-title {
  color: white;
  font-size: 22px;
  font-family: "Noto serif";
}
.images1 .img2 {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/deal-ana.png");
  background-repeat: no-repeat;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.images2 {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/deal-zabo.png");
  background-repeat: no-repeat;
  border-radius: 12px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px 0;
  text-align: center;
}
.content2 a {
  color: white;
  font-family: "Inter", serif;
  font-size: 28px;
}
.content-title2 {
  color: white;
  font-size: 40px;
  font-family: "Noto serif";
}

/* subscribe section */
.subscribe {
  margin-top: 120px;
  width: 100%;
  margin-bottom: 50px;
}
.subscribe-bg {
  background: url("./assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
}
.sub-div {
  padding: 210px 0px 190px 0px;
}
.sub-title {
  font-family: "Noto serif";
  font-weight: bold;
  font-size: 50px;
  color: white;
}
.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 20px auto 0;
}

.input-wrapper input[type="email"] {
  width: 100%;
  padding: 15px 120px 15px 20px; /* extra right padding for button */
  font-size: 16px;
}

.input-wrapper input[type="button"] {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  font-family: "Inter", serif;
  height: 100%;
  padding: 0 30px;
  font-size: 16px;
  background-color: #e95a08;
  color: white;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer-list1 {
  display: flex;
  flex-direction: column;
  font-family: "Inter", serif;
  font-size: 16px;
  gap: 20px;
}

.footer-list1 li {
  list-style: none;
}
.footer-list1 li a {
  text-decoration: none;
  color: #8987a1;
  font-size: 20px;
  transition: all 0.3s ease;
}
.footer-list1 li a:hover {
  text-decoration: none;
  color: #252432;
  transform: scale(1.2);
  font-weight: 700;
}

.footer-imag {
  display: flex;
  gap: 20px;
}

/* Mobile responsive */
@media screen and (max-width: 576px) {
  body {
    padding: 10px;
  }
  .nav-right .list {
    display: none;
  }
  .container {
    padding: 10px 20px;
  }

  .banner {
    display: flex;
    flex-direction: column-reverse;
    gap: 1px;
    align-items: center;
    justify-content: center;
  }
  .card-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 10px;
    justify-content: center;
  }
  /* shop */
  .shop-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .shop-right {
    margin-left: 0px;
  }
  .shop-list {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 30px;
  }

  /* deal section */
  .images {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .images1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .content2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 65px 0;
  }
  .content2 a {
    color: white;
    font-family: "Inter", serif;
    font-size: 16px;
  }
  .content-title2 {
    color: white;
    font-size: 22px;
    font-family: "Noto serif";
  }

  /* subscribe */
  .sub-div {
    padding: 100px 20px 100px 20px;
  }
  .sub-title {
    font-size: 22px;
  }
  .input-wrapper {
    max-width: 90%;
    margin: 10px auto 0;
  }

  .input-wrapper input[type="email"] {
    padding: 15px 100px 15px 15px;
    font-size: 14px;
  }

  .input-wrapper input[type="button"] {
    padding: 0 15px;
    font-size: 14px;
    overflow: hidden;
  }
  /* footer */
  .footer {
    flex-direction: column;
    gap: 35px;
  }
  .footer-imag {
    gap: 20px;
  }
}
